body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app div, .logo {
  padding-top: 2%;
  text-align: center;
}

.btns button {
  width: 10%;
  padding: 1%;
  margin: 1%;
}

img {
  width: 5%;
  animation:spin 4s linear infinite;
}

ul {
  padding: 0;
}

li{
  list-style: none;
}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }